.title_principale_login {
    color: #ffffff;
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 31px;
    background-color: #08624a;
  }
  
  .text_reset {
    font-size: 14px;
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: black;
  }


  .email-forgot{
    width: 100% ;
  }