
  
  .title_principale_login {
    color: #ffffff;
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 31px;
    background-color: #08624a;
  }
  
  .text_login {
    font-size: 14px;
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: black;
  }

  

.col-login{
  border: #08624a 2px solid;
  border-radius: 10px;
  background-color: #08624a;
  color: white;
  
}