.text_certificazioni{
    font-size:14px;
    font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: black;
    
 }

 .title_principale_certificazioni{
    color :#FFFFFF;
    font-family: 'Comforta', sans-serif;
    font-weight: 100;
    font-size: 31px;
    background-color: #08624A 
 }
